{
    "log_table_name": "sys_phoenix_log",
    "migration_dirs": {
        "baseapp": "%%ACTUAL_DIR%%/vendor/horstoeko/slimapp/src/dbmigrations",
        "customapp": "%%ACTUAL_DIR%%/var/dbmigrations"
    },
    "environments": {
        "local": {
            "adapter": "mysql",
            "host": "localhost",
            "username": "user",
            "password": "secret",
            "db_name": "db",
            "charset": "utf8"
        },
        "production": {
            "adapter": "mysql",
            "host": "localhost",
            "username": "user",
            "password": "secret",
            "db_name": "db",
            "charset": "utf8"
        }
    },
    "default_environment": "local"
}